
@model IICUTech_Test.Models.LoginModel

@{
    ViewData["Title"] = "Login";
    var result = ViewBag.result;
   
    
   
}
@if(@ViewBag.user && @ViewBag.status==1)
{
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Loged In Successfully!</h4>
  <p>User Information.</p>
  <hr>
  @foreach(var data in @ViewBag.userData)
        {
            <p>@data</p>
        }
       
</div>

}
@if(@ViewBag.user && @ViewBag.status==0)
{
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">User Not Found!</h4>
  <p>Please try again with correct credentials.</p>
  <hr>
</div>
}

<h4>Login</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" required />
         
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" required />
               
            </div>
            <div class="form-group">
                <input type="submit" value="LogIn" class="btn btn-primary mt-4" />
            </div>
        </form>
    </div>
</div>


 

       